HELP.md
logs/
out/
data/
docs/
images/
export/
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### 清除git缓存 ###
# git rm -r --cached .
### 添加文件到git中 ###
# git add .
### 提交文件到git ###
# git commit -m 'xxxxx'


### STS ###
.check*
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
